html, body {
  margin: 0;
  padding: 0;
}
canvas{
  border: 2px solid red;
  border-width: 50px;
  padding:30px
  
}
.Head_styles{
  background-color:black;
  color:white;
  padding:10px;
  ; ;
}
.SubHead_style{
  font:'Arial Narrow' ;
}

